/* pagination */
@media print, screen {
    @page{
        margin-left:1.5em;
        margin-right:1.5em;
        counter-reset: footnote;

        @footnotes {
            border-top: solid black thin;
            padding-top: 8pt;
        }
    }
    body {
        prince-footnote-policy: keep-with-line;
    }

    @page{
        @top{
            content:flow(footer);
        }
        .pmb-page-number{
            content:counter(page);
        }
        /*@bottom-right {*/
        /*    content: counter(page)*/
        /*}*/
    }
    @page:first{
        @top{
            content:normal;
        }
        #haller-repeat-header{
            display:none;
        }
    }

    @page back-matter {
        @top-right {
            content: string(article-title, first-except)
        }
        @bottom-right {
            content: counter(page)
        }
    }

    /* Title Page styles */
    .pmb-haller-frontpage-above-header{
        display:flex;
    }
    .pmb-haller-frontpage-above-header span{
        width:50%;
    }
    .pmb-haller-frontpage-issue{
        text-align:right;
    }
    .pmb-haller-frontpage-main{
        border-top:2px solid black;
        border-bottom:2px solid black;
        display:flex;
        justify-content:center;
    }
    .pmb-haller-frontpage-main-sidebar{
        margin:1em;
        padding:1em;
    }
    .pmb-haller-frontpage-main-sidebar.left{
        border-right:2px solid black;
        flex-grow:0;
    }
    .pmb-haller-frontpage-main-sidebar.right{
        border-left:2px solid black;
        flex-grow:0;
    }
    .pmb-haller-frontpage-main-title-area{
        text-align:center;
    }
    .pmb-haller-frontpage-main-title{
        margin-top:0;
        font-size:5em;
        margin-bottom:0;
    }

    .pmb-haller-frontpage-main-subtitle{
        font-size:3em;
        margin-top:0;
    }

    .pmb-haller-frontpage-preamble{
        text-align:center;
        border-bottom:2px solid black;
        padding-top:.5em;
        padding-bottom:.5em;
    }
    .pmb-haller-frontpage-preamble-text{
        font-size:1.3em;
    }


    /* toc */
    .pmb-toc-list{
        column-span:all;
        padding-left:0;
        width:100%;
    }
    .pmb-toc-list{
        width:80vw;
        margin-left:auto;
        margin-right:auto;
    }
    .pmb-toc-list li{
        padding-left:0;
        list-style:none;
    }
    .pmb-toc-item.pmb-toc-height-1{
        font-weight: bold;
        font-size: 1.2em;
        margin-top: 10px;
    }
    .pmb-toc-item.pmb-toc-depth-1{
        margin-left:1em;
    }
    .pmb-toc-list .pmb-toc-item.pmb-toc-front a::after {
        content: leader('.') target-counter(attr(href), page, lower-roman) !important;
    }
    .pmb-toc-list .pmb-toc-item:not(.pmb-toc-front) a::after {
        content: leader('.') target-counter(attr(href), page) !important;
    }

    /* Repeating header */
    #haller-repeat-header{
        -prince-flow: static(footer, start);/* see https://www.princexml.com/doc/paged/#generated-content-in-page-regions */
        display:flex;
        justify-content:space-around;
        border-bottom:2px solid black;
        text-align:center;
    }
    #haller-repeat-header div{
        flex-grow:1;
    }
    #haller-repeat-header div:nth-child(2){
        border-left:2px solid black;
        border-right:2px solid black;
        flex-grow:5;
    }

    /* General */
    img, figure{
        max-width:100%;
    }
    /**
     * avoid margins for block columns
     */
    .wp-block-column:not(:first-child){
        margin-left:0;
    }
    .wp-block-columns>.wp-block-column{
        width:100% !important;
    }



    /* part styling*/
    .pmb-part{
        column-span: all;
    }
    .pmb-part h1.pmb-title{
        font-size:300%;
        font-weight:400;
        string-set: part-title content();
    }
    .pmb-part div.entry-content{
        margin-top:1in;
        columns:2;
    }
    /* Justify content looks way better when there are columns */
    article:not(.pmb-just-content) div.entry-content p:not(.has-text-align-center, .has-text-align-right),
    article:not(.pmb-just-content) div.entry-content li{
        text-justify:inter-character;
        text-align:justify;
    }
    .pmb-print-page .pmb-single-column div.entry-content{
        columns:1;
    }


    /* Article styles */
    .pmb-article h1.pmb-title {
        string-set: article-title content();
    }

    .mayer-wide{
        column-span: all;
    }
    .mayer-columns{
        columns:2;
    }
    .project-intro{
        background-color:lightgrey;
        font-style:italic;
    }
    .pmb-posts span.pmb-footnote{
        float:footnote;
        text-align:left;
        margin-left:0;
        font-weight:normal;
    }
}

/*
    Make the preview appear about the same size as in the PDF. Besides making the preview better,
    Javascript code that's calculating element dimensions will be better too.
    Note these margins are different from the classic designs' margins.
*/
@media not print{
    .pmb-project-content{
        width: calc(8.5in - 1.5em - 1.5em);
    }
}