/* pagination */
@media print, screen {
    .pmb-toc {
        display: block;
        page: table-of-contents;
        counter-reset: page 1
    }

    @page table-of-contents {
        @top {
            content: "Table of Contents"
        }
        @bottom {
            content: counter(page, lower-roman)
        }
    }

    .pmb-posts {
        display: block;
        page: main;
        counter-reset: page 1
    }

    @page main {
        @top {
            content: string(section-title, first-except)
        }
        @bottom {
            content: counter(page)
        }
    }

    .pmb-section h1.entry-title {
        string-set: section-title content()
    }

    /* toc */
    .pmb-toc-list li{
        list-style:none;
    }
    .pmb-toc-list a::after {
        content: leader('.') target-counter(attr(href), page) !important;
    }
}