/* pagination */
@media print, screen {
    .pmb-title-page{
        page:title-page;
    }
    .pmb-toc {
        display: block;
        page: table-of-contents;
        counter-reset: page 1
    }

    @page table-of-contents {
        @top {
            content: "Table of Contents"
        }
        @bottom {
            content: counter(page, lower-roman)
        }
    }


    @page {
        counter-reset: footnote;

        @footnotes {
            border-top: solid black thin;
            padding-top: 8pt;
        }
    }
    .pmb-posts p {
        prince-footnote-policy: keep-with-line;
    }


    .pmb-posts {
        display: block;
        page: main;
        counter-reset: page 1
    }

    @page main {
        @bottom-right {
            content: counter(page)
        }
    }

    /* Title Page styles */
    .buurma-issue{
        float:right;
    }
    .pmb-posts-header{
        margin-top:2in;
        text-align:left;
    }
    .project-title{
        font-size:3em;
    }
    .project-byline{
        font-size:2em;
        font-weight: 200;
        margin-top:4em;
    }
    .project-date{
        margin-top:2em;
        font-size:1.5em;
    }
    .project-description{
        float:bottom;
        page-break-after:always;
    }
    body{
        font-family:Times;
    }
    .pmb-section{
        page-break-before:always;
    }



    h1,h2,h3,h4,h5,h6{
        font-family:Calibri;
        page-break-after:avoid;
        page-break-inside:avoid;
    }


    /* toc */
    .pmb-toc-list li{
        list-style:none;
    }
    .pmb-toc-item.pmb-toc-depth-2{
        margin-left:1em;
    }
    .pmb-toc-list a::after {
        content: leader('.') target-counter(attr(href), page) !important;
    }

    /* part styling*/
    .pmb-part{
        break-before:right;
        page: part-start;
    }
    @page main {
        @top {
            content: '';
        }
        @bottom {
            content: '';
        }
    }
    .pmb-part h1.entry-title{
        font-size:120%;
        string-set: part-title content();
        margin-top:2in;
    }
    .pmb-part .entry-content{
        margin-top:1in;
    }

    /* Article styles */
    .pmb-section h1.entry-title {
        string-set: section-title content();
    }

    .pmb-section{
        break-before:page;
    }


    .pmb-posts a.pmb-page-ref[href]::after{
        content: " (see page " target-counter(attr(href), page) ")";
    }
    .pmb-posts span.pmb-footnote{
        float:footnote;
        text-align:left;

    }
}