.pmb-posts .single-thumbnail .entry-title{
    position:initial;
    z-index:0;
    top:initial;
    -ms-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}
.pmb-posts .single-thumbnail .entry-header{
    position: initial;
    clear: none;
    height: initial;
}