.pmb-posts{
    /* Need a little margin on the left, otherwise 2017's lists' bullet points don't appear*/
    margin-left:1em;
    margin-right:1em;
}

body.has-header-image .site-title, body.has-header-video .site-title, body.has-header-image .site-title a, body.has-header-video .site-title a, body.has-header-image .site-description, body.has-header-video .site-description{
    color:black;
}