.pmb-part .pmb-title{
    padding-top:1em;
}
h1,h2,h3,h4,h5{
    page-break-inside:avoid;
    page-break-after:avoid;
}
h1{
    font-size:2.5em;
    line-height:0.8em;
}
h2{
    font-size:2em;
    line-height:0.85em;
}
h3{
    font-size:1.5em;
    line-height:0.9em;
}
h4{
    font-size:1.3em;
    line-height:0.95em;
}
h5{
    font-size:1.2em;
}
figure{
    max-height:100vh;
}