/* pagination */
@media print, screen {
    .pmb-front-matter {
        display: block;
        page: front-matter;
        counter-reset: page 1
    }

    @page front-matter {
        @bottom-right {
            content: counter(page, lower-roman)
        }
    }


    @page main-matter{
        counter-reset: footnote;

        @footnotes {
            border-top: solid black thin;
            padding-top: 8pt;
        }
    }
    .pmb-posts p {
        prince-footnote-policy: keep-with-line;
    }


    .pmb-main-matter {
        display: block;
        page: main-matter;
        counter-reset: page 1
    }

    @page main-matter, @page back-matter {
        @top-left: {
            content: string(part-title, first-except);
        }
        @top-right {
            content: string(section-title, first-except)
        }
        @bottom-right {
            content: counter(page)
        }
    }

    /* Title Page styles */
    .pmb-posts-header{
        margin-top:2in;
        text-align:center;
    }
    .pmb-posts-header .project-title{
        font-size:5em;
    }


    /* toc */
    .pmb-toc-list li{
        list-style:none;
    }
    .pmb-toc-item.pmb-toc-depth-2{
        margin-left:1em;
    }
    .pmb-toc-list a::after {
        content: leader('.') target-counter(attr(href), page) !important;
    }

    /* General */
    img, figure{
        max-width:100%;
    }

    /* part styling*/
    .pmb-part{
        column-span: all;
    }
    .pmb-part h1.entry-title{
        font-size:200%;
        font-weight:200;
        string-set: part-title content();
    }
    .pmb-part .entry-content{
        margin-top:1in;
        columns:2;
    }


    /* Article styles */
    .pmb-section h1.entry-title {
        string-set: section-title content();
    }

    .project-title{
        border-bottom:2px solid black;
    }
    .mayer-wide{
        column-span: all;
    }
    .project-intro{
        background-color:lightgrey;
        font-style:italic;
    }


    .pmb-posts a.pmb-page-ref[href]::after{
        content: " (see page " target-counter(attr(href), page) ")";
    }
    .pmb-posts span.pmb-footnote{
        float:footnote;
        text-align:left;
    }
}