.pmb-design-browser{
    display:flex;
}

.pmb-design:nth-child(odd){
    margin-right:5%;
}

.pmb-design{
    max-width:95%;
    border:1px solid #ddd;
    margin: 0 4% 4% 0;
}

.pmb-design.pmb-active .pmb-design-id-container{
}

.pmb-design-id-container h2{
    font-size:15px;
    height:18px;
    margin:0;
    padding:15px;
    overflow:hidden;
    white-sapce:nowrap;
    text-overflow:ellipsis;;
}
.pmb-design.pmb-active .pmb-design-id-container{
    background:#23282d;
    color:#fff;
    font-weight:300;
}
.pmb-design.pmb-active .pmb-design-id-container h2{
    color:#fff;
}
.pmb-design .pmb-design-actions{
    display:inline-block;
    float:right;
}

/* "Show Details" hover effect */
.pmb-design:hover img{
    opacity:.5;
}
.pmb-design{
    cursor:pointer;
    position:relative;/* necessary to make "more details" centered */
}
.pmb-design-browser .pmb-design .more-details {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    position: absolute;
    top: 35%;
    right: 20%;
    left: 20%;
    background: #23282d;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 15px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    padding: 15px 12px;
    text-align: center;
    border-radius: 3px;
    transition: opacity 0.1s ease-in-out;
}

.pmb-design-browser .pmb-design:focus {
    border-color: #5b9dd9;
    box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}

.pmb-design-browser .pmb-design:focus .more-details {
    opacity: 1;
}
.pmb-design-browser .pmb-design:hover .more-details {
    opacity:1;
}

/* Design Details in Thickbox */
.pmb-details-content-container{
    display:none;
}

.pmb-details-content .pmb-preview{
    width:400px;
    height:520px;
    float:left;
    margin-right:2em;
    margin-left:2em;
}

.pmb-details-content dl {
    margin-bottom:50px;
}

.pmb-details-content dl dt {
    float:left;
    font-weight:bold;
    margin-right:10px;
    padding:5px;
    width:100px;
}

.pmb-details-content dl dd {
    margin:2px 0;
    padding:5px 0;
}
.pmb-list{
    list-style:circle;
    list-style-position: inside;
}
.pmb-details-support-table th{
    vertical-align: top;
}
.pmb-details-support-table .pmb-list{
    margin-top:0;
}