/* Hide Content from the following plugins...*/
/* Yuzo Related Posts */
.pmb-posts .yuzo_related_post{
    display:none;
}
/* I Recommend This */
.pmb-posts .dot-irecommendthis{
    display:none;
}
/* AdControl */
.pmb-print-page #ac-top{
    display:none;
}
/* JetPack's ShareDaddy content */
.pmb-posts .sharedaddy{
    display:none;
}
/* JetPack tiled galleries. When printing, we actually do need to show their backgrounds. */
@media print {
    .pmb-posts .tiled-gallery-caption {
        background: #eee !important;
        background: rgba(255, 255, 255, .8) !important;
    }
}

/*
* PowerPress https://wordpress.org/plugins/powerpress/
* Don't show the play button as it doesn't work; insetad link to it.
 */
.pmb-posts .powerpress_player{
    display:none;
}

/* Prevents plugin https://www.tipsandtricks-hq.com/wordpress-audio-music-player-plugin-4556
from adding a gray box in the footer when using Prince
 */
.pmb-posts #sm2movie {
    display: none;
}

/*
Video JS https://wordpress.org/plugins/videojs-html5-player/ Avoid having large videos break in the middle
 */
.pmb-posts .video-js{
    width:100%;
    height:auto;
}

/*
Video.js https://wordpress.org/plugins/videojs-html5-video-player-for-wordpress/ Avoid page breaks inside videos
 */
.pmb-posts .video-wrapper{
    page-break-inside:avoid;
}

/**
Hide Google Recaptcha from printouts

 */
.pmb-posts .grecaptcha-badge{
    display:none !important;
}

/**
Hide footer added by user switching add-on.
 */
.pmb-print-page p#user_switching_switch_on{
    display:none;
}

/* Show-Hide / Collapse-Expand plugin https://wordpress.org/plugins/show-hidecollapse-expand/
hide the reveal buttons. Showing them needs to happen in JS though.*/
.pmb-print-page .bg-showmore-plg-button{
    display:none;
}

/* Hide TablePress'  "Edit" button https://wordpress.org/plugins/tablepress/*/
.pmb-print-page .dataTables_wrapper caption{ display:none; }
.pmb-print-page .dataTables_wrapper .dataTables_info{ display:none;}

/* Hide TopBar https://wordpress.org/plugins/top-bar/ from printouts.
Use !important to override the inline style set by the plugin*/
#tpbr_topbar{
    display:none !important;
}

/**
Hide Google Recaptcha v3 from printouts. Like when using Contact Form 7
 */
.grecaptcha-badge{
    display:none !important;
}

/**
Hide CSS Hero's floating icon, SimpleBackToTop's icon
 */
#csshero-very-first-trigger, .sbttBacktotop{
    display: none !important;
}

/**
Lifter LMS
Hide stuff that doesn't make sense in print
 */
.llms-course-navigation, .llms-lesson-button-wrapper {
    display: none;
}
/**
 LaText2Html (https://wordpress.org/plugins/latex2html/) strangely thinks it should set the page and body size.
 Don't let it, or others, do that. See https://wordpress.org/support/topic/losing-all-formatting/
 */
@media print{
    body {
        height: 100% !important;
        width: initial% !important;
    }
    @page {
        size: initial;
    }
}

/* Place NextGen gallery https://wordpress.org/plugins/nextgen-gallery/ items side-by-side */
.ngg-gallery-thumbnail-box {
    display:inline-block;
}