/* Hide Content from the following plugins...*/
/* Yuzo Related Posts */
.pmb-posts .yuzo_related_post{
    display:none;
}
/* I Recommend This */
.pmb-posts .dot-irecommendthis{
    display:none;
}
/* AdControl */
.pmb-print-page #ac-top{
    display:none;
}
/* JetPack's ShareDaddy content */
.pmb-posts .sharedaddy{
    display:none;
}
/* JetPack tiled galleries. When printing, we actually do need to show their backgrounds. */
@media print {
    .pmb-posts .tiled-gallery-caption {
        background: #eee !important;
        background: rgba(255, 255, 255, .8) !important;
    }
}