/**
 * CSS for all PDF print pages
 */

/**
Just add bookmarks to section titles, not sub-headings
 */
h1,h2,h3,h4,h5,h6{
    prince-bookmark-level:none;
}
.pmb-depth-0:not([id*='/pmb-']) h1.pmb-title{prince-bookmark-level: 1}
.pmb-depth-1:not([id*='/pmb-']) h1.pmb-title{prince-bookmark-level: 2}
.pmb-depth-2:not([id*='/pmb-']) h1.pmb-title{prince-bookmark-level: 3}
.pmb-depth-3:not([id*='/pmb-']) h1.pmb-title{prince-bookmark-level: 4}
.pmb-depth-4:not([id*='/pmb-']) h1.pmb-title{prince-bookmark-level: 5}


.pmb-posts .pmb-dynamic-resize img{
    width:auto;
}
figure.wp-block-image, .wp-block-image figure, figure.wp-caption, .pmb-image{
    display:flex;
    flex-direction:column;
}

.pmb-figure-image-wrapper{
    overflow:auto;
}
.wp-block-image .pmb-figure-image-wrapper img, .wp-caption .pmb-figure-image-wrapper img{
    height:100%;
    max-height:100%;
    width:auto;
    display:block;
    margin-right:auto;
    margin-left:auto;
}
/*
Don't let image blocks take up more than the max height
*/
.wp-block-image, figure, .pmb-image{
    max-height:100vh;
}

/**
* Use this style to make images take up the full space and then clip it
 */
.pmb-image-clip{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}

.pmb-image-clip img{
    max-height:none;
}

.pmb-image-clip.pmb-nudge-up-100 img{
    transform:translate(0, 100px)
}

/* When an image is floating it has a wrapped div that should have no height, so the floating items can stack
 horizontally. When they aren't floating then it's the "figure" that's the top-level block element (even if there's
 no caption) */
div.wp-block-image{
    margin:0;
}