/**
Stylesl for the print window
 */
@media not print{
    .pmb-pro-print-window{
        border:1px solid lightgray;
        border-radius: 5px;
        margin:5px;
        padding-bottom:10px;
        font-family:arial;
        font-size:14px;
    }
    .pmb-pro-print-window-topbar{
        display:flex;
        justify-content:space-evenly;
        padding-top: 5px;
        padding-bottom:10px;
        border-bottom:1px solid lightgray;
    }
    .pmb-pro-window-topbar-left{
        text-align:left;
    }
    .pmb-pro-window-title{
        flex-grow:1;
        text-align:center;
    }
    .pmb-pro-window-title h1{
        margin-top:0;
        color:gray;
    }
    .pmb-pro-window-topbar-right{
        text-align:right;
    }
    .pmb-pro-window-button{
        border:1px solid lightgray;
        background-color:white;
        padding:5px;
        border-radius:2px;
        color: black;
        text-decoration: none;
        vertical-align: middle;
        font-size: 18px;
        margin:0;
        cursor:pointer;
    }
    .pmb-pro-window-button.pmb-pro-disabled{
        color:gray;
        cursor:default;
    }
    .pmb-pro-print-window-content{
        padding-top:10px;
    }
    .pmb-pro-print-window-options{
        display:flex;
        justify-content:space-evenly;
        flex-wrap:wrap;
    }
    .pmb-pro-print-window-options .pmb-print-option{
        border:1px solid gray;
        border-radius:5px;
        padding:5px;
        text-align:center;
        width:400px;
        flex-grow:1;
    }
    .pmb-pro-print-window-options .pmb-print-option.pmb-big-option{
        flex-grow:2;
        background-color:lightgoldenrodyellow;
    }
    .pmb-pro-print-window-options .pmb-print-option h2{
        text-align:center;
        margin-top:5px;
    }
    .pmb-pro-print-window-options .pmb-print-option ul{
        width:300px;
        margin-left:auto;
        margin-right:auto;
        text-align:left;
    }
    .pmb-pro-after-pro{
        display:none;
        margin-bottom:20px;
    }
}
@media print{
    .pmb-pro-print-window-wrapper{
        display:none;
    }
}




/**
Styles generic to all PDF projects
 */

/**
Just add bookmarks to section titles, not sub-headings
 */
h1,h2,h3,h4,h5,h6{
    prince-bookmark-level:none;
}
.pmb-depth-0 h1.pmb-title{prince-bookmark-level: 1}
.pmb-depth-1 h1.pmb-title{prince-bookmark-level: 2}
.pmb-depth-2 h1.pmb-title{prince-bookmark-level: 3}
.pmb-depth-3 h1.pmb-title{prince-bookmark-level: 4}
.pmb-depth-4 h1.pmb-title{prince-bookmark-level: 5}

/* Browsers basically have this set as the default, but not Prince*/
figure{
    margin-bottom:1em;
}
/* Don't let images be taller than the page */
img, div.wp-caption{
    max-height:100vh;
}

.alignleft{
    float:left;
    margin-right:1em;
}
.alignright{
    float:right;
    margin-left:1em;
}
.aligncenter{
    margin-left:auto;
    margin-right:auto;
}
.has-text-align-center{
    text-align:center;
}

/* Featured images should be a block so they can be centered */
.pmb-featured-image{
    display:block;
}

/* Make captions line up nicely with floated images. Yes a design may want to override these */
.wp-block-image figure {
    display: table;
    page-break-inside:avoid;
}

.wp-block-image figure > figcaption {
    display: table-caption;
    caption-side: bottom;
}

/* Make image captions look a bit different*/
figcaption{
    color: #555;
    text-align:center;
    font-style:italic;
    margin-top:0.5em;
}

/* Column blocks*/
.wp-block-columns{
    page-break-inside:avoid;
}
.wp-block-columns>.wp-block-column{
    display:inline-block;
    vertical-align:top;
}
.wp-block-columns.has-2-columns>.wp-block-column{
    /*width:49vw;*/
    width:80mm !important;
}
.wp-block-columns.has-3-columns>.wp-block-column{
    /*width:32vw;*/
    width:50mm !important;
}
.wp-block-columns.has-4-columns>.wp-block-column{
    /*width:24vw;*/
    width:40mm !important;
}

/*!* Block galleries *!*/
/*
Set block gallery image sizes because otherwise Prince interprets the floating property differently.
The gallery always takes up the whole page height because the image height is 100%
*/
.wp-block-gallery.is-cropped.columns-4 .blocks-gallery-item img {
    height:25vw !important;
}
.wp-block-gallery.is-cropped.columns-3 .blocks-gallery-item img {
    height:30vw !important;
}
.wp-block-gallery.is-cropped.columns-2 .blocks-gallery-item img {
    height:40vw !important;
}
.wp-block-gallery.is-cropped.columns-1 .blocks-gallery-item img {
    height:50vw !important;
}

/* Centered content styles */
.pmb-center-content .post-inner{
    height:100vh;
    /*border:1px solid red;*/
    position:relative;
}

.pmb-center-content .post-content{
    margin:0;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    /*border: 1px dotted green;*/
}

.pmb-float-top{
    float:top;
}
.pmb-float-bottom{
    float:bottom;
}

/* Remove accessibility divs which add extra pages (sorry they're not usable when printed anyway)*/
.a11y-speak-intro-text, .a11y-speak-region{
    display:none !important;
}