.pmb-spinner {
    background: url('/wp-admin/images/wpspin_light.gif') no-repeat;
    background-size: 16px 16px;
    margin-left:auto;
    margin-right:auto;
    opacity: .7;
    filter: alpha(opacity=70);
    width: 16px;
    height: 16px;
}

.pmb-hidden-initially{
    display:none;
}

.pmb-wide-input{
    min-width:20em;
}

/* If users add the CSS class "pmb-print-only" we want it to be hidden on the frontend... */
.pmb-print-only{
    display:none;
}
/* ...but not when printing with Print My Blog...*/
.pmb-posts .pmb-print-only{
    display:block;
}
/* ...or when viewing from the editor */
.block-editor .pmb-print-only{
    display:block;
}
/* And when they add the CSS class "pmb-screen-only", hide it while printing with Print My Blog */
.pmb-posts .pmb-screen-only{
    display:none;
}
details.pmb-details{
    margin:1em;
}
summary.pmb-reveal-options{
    cursor:pointer;
}
.pmb-print-this-page{
    text-align:right;
}
.pmb-print-this-page{
    display:flex;
    justify-content:flex-end;
}
.pmb-print-this-page .button{
    /* Keep buttons spaced apart a bit */
    margin-left:1em;
}
.pmb-print-this-page .wp-block-button__link{
    /* Prevent the default block styling from adding unnecesary space above these buttons*/
    margin-top:0 !important;
}