/**
 * CSS for all PDF print pages
 */

/**
Just add bookmarks to section titles, not sub-headings
 */
h1,h2,h3,h4,h5,h6{
    prince-bookmark-level:none;
}
.pmb-depth-0:not([id*='/pmb-']) h1.pmb-title{prince-bookmark-level: 1}
.pmb-depth-1:not([id*='/pmb-']) h1.pmb-title{prince-bookmark-level: 2}
.pmb-depth-2:not([id*='/pmb-']) h1.pmb-title{prince-bookmark-level: 3}
.pmb-depth-3:not([id*='/pmb-']) h1.pmb-title{prince-bookmark-level: 4}
.pmb-depth-4:not([id*='/pmb-']) h1.pmb-title{prince-bookmark-level: 5}

.pmb-dynamic-resize img{
    height:200px;
    width:auto;
}
.pmb-dynamic-resize-done img{
    height:auto;
    max-height:100%;
    width:auto;
}

/**
* Use this style to make images take up the full space and then clip it
 */
.pmb-image-clip{
    overflow-y:hidden;
    display:flex;
    align-items:center;
    justify-content: center;
}

.pmb-image-clip.pmb-nudge-up{
    transform:translate(0, )
}