/**
Styles generic to all PDF projects
 */

.pmb-depth-0 .pmb-title{prince-bookmark-level: 1}
.pmb-depth-1 .pmb-title{prince-bookmark-level: 2}
.pmb-depth-2 .pmb-title{prince-bookmark-level: 3}
.pmb-depth-3 .pmb-title{prince-bookmark-level: 4}
.pmb-depth-4 .pmb-title{prince-bookmark-level: 5}

/* Browsers basically have this set as the default, but not Prince*/
figure{
    margin-bottom:1em;
}

.alignleft{
    float:left;
    margin-right:1em;
}
.alignright{
    float:right;
    margin-left:1em;
}

/* Make captions line up nicely with the image they're for. Yes a design may want to override these */
.wp-block-image figure {
    display: table;
}

.wp-block-image figcaption {
    display: table-caption;
    caption-side: bottom;
}

figcaption{
    color: #555;
    text-align:center;
    font-style:italic;
    margin-top:0.5em;
}
