.blocks-gallery-grid{
    list-style-type: none;
}

figure{
    margin:0.5em 0 0.5em 0;
    padding:0.5em 0 0.5em 0;
}
.wp-block-gallery ul{
    margin:0;
    padding-left:0;
}
.wp-block-gallery li{
    margin:0;
    padding-left:0;
}
ul, ol{
    padding-left:1em;
}
blockquote{
    margin-right:0;
}
div{
    margin:0;
    padding:0;
}
.aligncenter{
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.wp-block-image.aligncenter {
    text-align: center;
}