.pmb-pro-notice{
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.pmb-pro-notice input[type=email]{
    min-width:250px;
}

.pmb-pro-notice div.image{
    flex:0 1 189px;
    margin: 12px 12px 12px 0;
    height:123px;

}
.pmb-pro-notice div.content{
    flex:1 1 200px;
}
.pmb-pro-notice div.image img{
    height:100%;
}
.pmb-pro-notice div.content{
    margin-top:12px;
    margin-bottom:12px;
}
.pmb-pro-notice div.content h2{
    margin-top:0;
    margin-bottom:15px;
}

.pmb-two-column-notice div{
    display:inline-block;
    vertical-align: top;
}

.pmb-image-column{
    max-width:95%;
    width:560px;
    height:315px
}
.pmb-text-column{
    max-width:400px;
}

.twine-two-column-layout td>label{
    display:block;
}
.twine-error{
    color:red;
    padding:.3em;
    font-weight:bold;
}
.pmb-inline-form{
    display:inline
}
.pmb-help{
    font-weight:100;
    font-size:13px;
    font-style:italic;
}
.pmb-icon{
    text-decoration:none;
    cursor:pointer;
    vertical-align: middle;
    font-size:25px;
}

.pmb-breadcrumb{
    font-size:1em;
}
.pmb-breadcrumb span:not(:first-child)::before{
    content: " / ";
}
.pmb-uninstall, .pmb-uninstall:hover, .pmb-uninstall:active, .pmb-uninstall:visited{
    color:#a00;
}
.pmb-previews{
    white-space: nowrap;
}
.pmb-preview{
    width:200px;
    height:260px;
    box-shadow: 0 0 5px 3px lightgray;
}
.pmb-design-browser, .pmb-formats-row{
    display:flex;
}
.pmb-design, .pmb-format{
    border: 1px solid lightgrey;
    margin: 0 3% 3% 0;
    padding: 10px;
}
.pmb-design{
    order:1;
}
.pmb-active{
    order:0;
    box-shadow: 1px 1px 2px 2px lightgray;
}
.pmb-actions{
    margin:5px;
}

.pmb-chosen-design-for-format{
    position:relative;
    margin-top:8px;
}
.pmb-format-actions{
    position:absolute;
    right:0;
}
.pmb-format-design-title{
    padding:8px;
}

.pmb-ul{
    list-style:square;
    padding-left:inherit;
}

/* progress bar */
.pmb-progress{
    padding-left:20px;
}
.pmb-progress .pmb-step{
    margin:0;
    display:inline-block;
    /*border:1px solid grey;*/
    font-size:1.2em;
}
.pmb-row-actions{
    white-space: normal;
}
.pmb-step{
    white-space: nowrap;
}
.pmb-step:not(:last-child)::after{
    content:'>';
    margin-left:5px;
    margin-right:5px;
}

.pmb-step.pmb-completed{
}
.pmb-inaccessible-step{
    color:gray;
}
.pmb-current-step{
    font-weight:bold;
}

.pmb-project-title{
    font-style:italic;
    color:darkgray;
    margin-top:0px;
    margin-bottom:1em;
}
.pmb-free-pro-header{
    margin-bottom:20px;
    padding:10px;
    opacity:.7;
    font-size:1.2em;
}
.pmb-free-pro-header a{
    color:white;
}
.pmb-free-pro-header span{
    margin-right:2em;
}
.pmb-free-header{
    background-color:#46b450;
    color:#ffffdd;
}
.pmb-pro-header{
    background-color:#ffba00;
}

.pmb-middle-important-text{
    text-align:center;
    font-size:2em;
}

/*
For displaying a series of boxes
 */
.pmb-content-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.pmb-content-boxes .pmb-content-box-wrap{
    padding:1em;
    min-width:300px;
}
.pmb-content-box-inner{
    border: 1px solid #e5e5e5;
    padding:1em;
}
.pmb-row-actions .pmb-step:not(:last-child)::after{
    content:' ';
}
.pmb-right-help{
    float:right;
}
.pmb-hover .wp-pointer-buttons {
    display: none;
}
.pmb-hover .wp-pointer-content{
    text-align:left;
}