/**
* Styles which should be reusable by all print-page designs.
*/

/**
 * CSS classes intended for use by content writers.
 */

/**
 * Always place this item on a new page
 */
.pmb-page-break, .pmb-break-before{
    page-break-before: always;
}

/**
 * This item is always the last item on a page
 */
.pmb-break-after{
    page-break-after:always;
}

/**
 * Avoid pagebreaks inside this item (paragraph, table, list, etc)
 */
.pmb-no-break{
    page-break-inside:avoid;
}

/**
 * Avoid pagebreaks before this item (image, paragraph, etc).
 * Eg, use on a paragraph to make sure it stays with the previous paragraph or block.
 */
.pmb-no-break-before{
    page-break-before: avoid;
}

/**
 * Avoid pagebreaks after this item (image, paragraph, etc)
 * Eg, use on a paragraph to make sure what follows stays on the same page.
 */
.pmb-no-break-after{
    page-break-after: avoid;
}

/**
 * Styles used by PMB on all print pages, but not intended for direct use by content writers.
 */

div.pmb-post-header{
    page-break-inside:avoid;
}

/* On the print-page, try to avoid page breaks in the middle of images*/
.pmb-image{
    page-break-inside:avoid;
}
.pmb-posts .pmb-image img{
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*
    If the image is big, browsers automatically don't let it overflow, but Prince does. Tell Prince to keep it
    within the page width
    */
    max-width:100%;
}
.pmb-header{
    page-break-inside:avoid;
    page-break-after:avoid;
}
button{
    background-color:lightskyblue;
}
.entry-excerpt{
    font-style:italic;
}
.pmb-posts-body .entry-content{
    margin-top:1em;
}
div.tiled-gallery{
    page-break-inside:avoid;
}

.pmb-posts-body article.pmb-post-article{
    float:none;
    width:100%;
}

.pmb-divider{
    margin-bottom:3em;
}
.pmb-posts .wp-caption{
    max-width:100%;
}

.youtube-player{
    max-width:100%;
}

p.pmb-status{
    color:black;
}
/* default to making each PMB post metasection not go inline */
span.pmb-post-meta{
    display:block;
}

div.pmb-video-wrapper {
    display:flex;
    justify-content:center;
}
div.pmb-video-inner-wrapper{
    position:relative;
    page-break-inside:avoid;
    display:inline-block;
    width:500px;
    max-width:100%;
}
div.pmb-video-gradient{
    height:60px;
    padding-bottom: 50px;
    top: 0;
    z-index: 25;
    background-position: top;
    width: 100%;
    position: absolute;
    background-repeat: repeat-x;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
}
div.pmb-video-header{
    position:absolute;
}

div.pmb-video-text{
    display:inline-block;
    position:absolute;
    z-index:30;
    color:white;
    font-size:20px;
    padding:10px;
    text-align:left;
    left:0;
}
div.pmb-video-text a{
    color:white;
    text-decoration: none;
}
div.pmb-video-overlay{
    position:absolute;
    z-index:10;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
div.pmb-pretend-play-button{
    position:absolute;
    left:50%;
    top:50%;
    width:68px;
    height:48px;
    margin-left:-34px;
    margin-top:-24px;
}
img.pmb-video-screenshot{
    width:500px;
}

div.pmb-video-screenshot-placeholder{
    height:350px;
    width:500px;
    border:1px solid gray;
    max-width:100%;
}

div.pmb-video-qrcode{
    position:absolute;
    right:10px;
    bottom:10px;
    width:64px;
    height:64px;
}

.pmb-posts div.pmb-print-this-page{
    display:none;
}
/* Prevent themes like "hueman" from floating the site description on the print-page and ruining the layout*/
.pmb-posts-header .site-description {
    float: none;
}

/* Adds some space between the posts' content and the site title*/
.pmb-posts-header{
    margin-bottom:2em;
}
/* Don't let Activello or others change disply to inline blocks which drops content from the printout*/
.pmb-posts article.post{
    display:block;
}
/* Some themes place the title in front of an image, and so prefer to make it look black. That's fine on web,
but in the printout they're in front of white paper, so best to have them in black. */
.pmb-posts .entry-title{
    color:black;
}
/* For themes that have a dark background, the text colour might be light. In printouts we want it to be displayed black still, by default.*/
.pmb-format-print .pmb-posts{
    color:black;
    background:white;
}
@media print{
    .pmb-format-print{
        background:white;
    }
}
/* Prevent themes like nisarg from adding those awkward URLs after links. Thanks for trying, but they usually just
mess up the layout (especially in galleries!) Footnotes are much better. Or links
 */
.pmb-posts a[href]:after {
    content:'';
}

/* Make sure the print button is clearly a pressable button; some themes style it as a block and so the cursor
won't switch to a pointer when they hover over it; and it won't be centered anymore*/
.pmb-waiting-message-outer-container input[type=submit]{
    cursor:pointer;
    /* In case the theme made the input display:block, use margins to center it.*/
    margin-left:auto;
    margin-right:auto;
}

/* Prevent MailChimp overlay from appearing overtop of everything. I think its from a MailChimp code snippet, not a
plugin. First saw it on https://nancyradford.com */
.mc-modal-bg{
    display:none !important;
}
.mc-modal{
    display:none !important;
}