.pmb-spinner {
    background: url('/wp-admin/images/wpspin_light.gif') no-repeat;
    background-size: 16px 16px;
    margin-left:auto;
    margin-right:auto;
    opacity: .7;
    filter: alpha(opacity=70);
    width: 16px;
    height: 16px;
}
@media print {
    .pmb-waiting-message-fullpage{
        display:none;
    }
}
@media not print{
    .pmb-posts{
        display:none;
    }
}

body.pmb-print-page{
    background-color:white;
}
.pmb-waiting-message-fullpage{
    background-color:white;
    color:black;
    z-index:1000;
}

.pmb-waiting-message-outer-container{
    margin: 5% auto 5% auto;
    box-shadow: 0.5em 1em lightgrey;
    border:1px solid grey;
    max-width:600px;
    padding-bottom:1em;
}

.pmb-extra-content{
    text-align:center;
}

.pmb-posts-placeholder{
    margin-top:5%;
}

div.pmb-post-header{
    page-break-inside:avoid;
}
.pmb-page-break{
    page-break-before: always;
}
/* On the print page, try to avoid page breaks in the middle of images*/
.pmb-image{
    page-break-inside:avoid;
}
.pmb-header{
    page-break-inside:avoid;
    page-break-after:avoid;
}
button{
    background-color:lightskyblue;
}
.print-preview-instructions ol{
     text-align:left;
     padding: 0 2em 0 2em;
 }
.pmb-error{
    margin:1em;
}
.entry-excerpt{
    font-style:italic;
}
div.tiled-gallery{
    page-break-inside:avoid;
}