.pmb-spinner {
    background: url('/wp-admin/images/wpspin_light.gif') no-repeat;
    background-size: 16px 16px;
    margin-left:auto;
    margin-right:auto;
    opacity: .7;
    filter: alpha(opacity=70);
    width: 16px;
    height: 16px;
}
@media print {
    .pmb-waiting-message-fullpage{
        display:none;
    }
}
@media not print{
    .pmb-posts{
        display: none;
        width: 1000px;
        margin: 10em auto 0 auto;
        box-shadow:0.5em 1em darkgray;
        background-color:white;
        border: 1px solid darkgray;
        padding: 6em;
    }

    .pmb-posts img{
        max-width:100%;
    }

    body.pmb-print-page{
        background-color:lightgray;
    }
}

.pmb-waiting-message-fullpage{
    color:black;
    z-index:1000;
    position: fixed;
    left: 50%;
    top:0;
    transform: translate(-50%, 1em);
    width:25em;
    max-width:96%;

}

.pmb-waiting-message-outer-container{
    background-color:white;
    box-shadow: 0.5em 1em darkgray;
    border:1px solid darkgray;
    padding-bottom: 1em;
}

.pmb-extra-content{
    text-align:center;
}

.pmb-posts-placeholder{
    /*position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -2em);
    */
}

div.pmb-post-header{
    page-break-inside:avoid;
}
.pmb-page-break{
    page-break-before: always;
}
/* On the print page, try to avoid page breaks in the middle of images*/
.pmb-image{
    page-break-inside:avoid;
}
.pmb-header{
    page-break-inside:avoid;
    page-break-after:avoid;
}
button{
    background-color:lightskyblue;
}
.print-preview-instructions ol{
     text-align:left;
     padding: 0 2em 0 2em;
 }
.pmb-error{
    margin:1em;
}
.entry-excerpt{
    font-style:italic;
}
div.tiled-gallery{
    page-break-inside:avoid;
}
.pmb-waiting-h1{
    margin-top:1em;
}
.pmb-help{
    position:absolute;
    top:0;
    right:0;
    line-height:1em;
    font-size:0.8em;
    color:gray;
    margin-top:5px;
    margin-right:5px;
}
.pmb-help a{
    color:lightblue;
}
.pmb-help a:hover{
    color:blue;
}

.pmb-posts-body article.pmb-post-article{
    float:none;
}

.pmb-divider{
    margin-bottom:3em;
}
.pmb-posts .wp-caption{
    max-width:100%;
}