/**
* Styles for displaying the classic print-page with its hovering button etc.
*
*/

@media print {

    .pmb-waiting-message-fullpage{
        display:none;
    }
    .pmb-preview-note{
        display:none;
    }
}
@media not print{
    .pmb-posts{
        display: none;
        width: 1000px;
        margin: 10em auto 0 auto;
        box-shadow:0.5em 1em darkgray;
        background-color:white;
        border: 1px solid darkgray;
        padding: 6em;
    }

    .pmb-posts img{
        max-width:100%;
    }

    body.pmb-print-page{
        background-color:lightgray;
        background-image:none;
    }
}

.pmb-waiting-message-fullpage{
    color:black;
    z-index:1000;
    position: fixed;
    left: 50%;
    top:0;
    transform: translate(-50%, 32px);
    width:25em;
    max-width:96%;
}

.pmb-waiting-message-outer-container{
    background-color:white;
    box-shadow: 0.5em 1em darkgray;
    border:1px solid darkgray;
    padding-bottom: 1em;
}

.pmb-extra-content{
    text-align:center;
}

.pmb-posts-placeholder{
    /*position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -2em);
    */
}

button{
    background-color:lightskyblue;
}
.print-preview-instructions ol{
     text-align:left;
     padding: 0 2em 0 2em;
 }
.pmb-error{
    margin:1em;
}
.pmb-waiting-h1{
    margin-top:1em;
}
.pmb-top{
    position:absolute;
    top:0;
    right:0;
    margin-top:5px;
    margin-right:5px;
}
.pmb-help{
    line-height:1em;
    font-size:0.8em;
    color:gray;
}
.pmb-help a{
    color:lightblue;
}
.pmb-help a:hover{
    color:blue;
}

.pmb-window-buttons{
    position:absolute;
    margin-top:5px;
    margin-left:5px;
}
.pmb-top-left{
    top:0;
    left:0;
}

.pmb-print-ready{
    visibility:hidden;
}

@media screen and (max-width: 782px) {
    .pmb-waiting-message-fullpage{
        transform: translate(-50%, 46px);
    }
}
h1.pmb-waiting-h1{
    color:black;
}
p.pmb-status{
    color:black;
}

.pmb-preview-note{
    position: fixed;
    bottom:0;
    left:0;
    line-height:1em;
    background-color:white;
    opacity:0.5;
    z-index:1000;
    color:black;
}

/* Make sure the print button is clearly a pressable button; some themes style it as a block and so the cursor
won't switch to a pointer when they hover over it; and it won't be centered anymore*/
.pmb-waiting-message-outer-container input[type=submit]{
    cursor:pointer;
    /* In case the theme made the input display:block, use margins to center it.*/
    margin-left:auto;
    margin-right:auto;
}

.pmb-small-instructions{
    line-height:1em;
    font-size:0.8em;
    color:gray;
}

.site-title{
    margin-top:0em;
    padding-top:0em;
    float:none;
}