/**
* Styles which should be reusable by all print-page designs.
*/

div.pmb-post-header{
    page-break-inside:avoid;
}
.pmb-page-break{
    page-break-before: always;
}
/* On the print-page, try to avoid page breaks in the middle of images*/
.pmb-image{
    page-break-inside:avoid;
}
.pmb-image img{
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pmb-header{
    page-break-inside:avoid;
    page-break-after:avoid;
}
button{
    background-color:lightskyblue;
}
.entry-excerpt{
    font-style:italic;
}
.pmb-posts-body .entry-content{
    margin-top:1em;
}
div.tiled-gallery{
    page-break-inside:avoid;
}

.pmb-posts-body article.pmb-post-article{
    float:none;
    width:100%;
}

.pmb-divider{
    margin-bottom:3em;
}
.pmb-posts .wp-caption{
    max-width:100%;
}

.youtube-player{
    max-width:100%;
}

p.pmb-status{
    color:black;
}
/* default to making each PMB post metasection not go inline */
span.pmb-post-meta{
    display:block;
}

div.pmb-youtube-video-replacement-wrapper{
    page-break-inside:avoid;
    text-align:center;
}
div.pmb-youtube-video-replacement-header{
    display:inline-block;
}
div.pmb-youtube-video-replacement-icon{
    display:inline-block;
    text-align:center;
}
div.pmb-youtube-video-replacement-icon img{
    vertical-align:middle;
    font-size:3em;
}
div.pmb-youtube-video-replacement-text{
    display:inline-block;
}
.pmb-posts div.pmb-print-this-page{
    display:none;
}
/* Prevent themes like "hueman" from floating the site description on the print-page and ruining the layout*/
.pmb-posts-header .site-description {
    float: none;
}

/* Adds some space between the posts' content and the site title*/
.pmb-posts-header{
    margin-bottom:2em;
}
/* Don't let Activello or others change disply to inline blocks which drops content from the printout*/
.pmb-posts article.post{
    display:block;
}
/* Some themes place the title in front of an image, and so prefer to make it look black. That's fine on web,
but in the printout they're in front of white paper, so best to have them in black. */
.pmb-posts .entry-title{
    color:black;
}
/* For themes that have a dark background, the text colour might be light. In printouts we want it to be displayed black still, by default.*/
.pmb-format-print .pmb-posts{
    color:black;
    background:white;
}
@media print{
    .pmb-format-print{
        background:white;
    }
}
/* Prevent themes like nisarg from adding those awkward URLs after links. Thanks for trying, but they usually just
mess up the layout (especially in galleries!) Footnotes are much better. Or links
 */
.pmb-posts a[href]:after {
    content:'';
}

/* Make sure the print button is clearly a pressable button; some themes style it as a block and so the cursor
won't switch to a pointer when they hover over it; and it won't be centered anymore*/
.pmb-waiting-message-outer-container input[type=submit]{
    cursor:pointer;
    /* In case the theme made the input display:block, use margins to center it.*/
    margin-left:auto;
    margin-right:auto;
}

.pmb-no-break{
    page-break-inside:avoid;
    display:block;
}

/*
* WP Block galleries use display:flex which is great for the screen but very bad for printed, paged media as the
* content gets cut off after the 1st page. Use ye old block display instead.
*/
.pmb-posts .wp-block-gallery, .pmb-posts .block-gallery-grid{
    overflow:visible;
    display:block;
}
.pmb-posts .wp-block-gallery>ul{
    display:block;
}

.pmb-posts .wp-block-gallery img{
    height:100%;
}
/**
If its a cropped gallery, make the images full width,
auto-height, and chopped off at the bottom
 */
.pmb-posts .wp-block-gallery.is-cropped>ul>li{
    height:300px;
}
.pmb-posts .wp-block-gallery.is-cropped figure{
    width:100%;
    height:100%;
}

.pmb-posts .wp-block-gallery.is-cropped img{
    height:auto;
    width:100%;
}

/**
The calc() function done by WP doesn't seem to work with Prince.
So instead just aim for filling up 90% of the width, and a similar
height.
 */
.pmb-posts .wp-block-gallery.columns-2 .blocks-gallery-item{
    width: 45%;
    height: 300px;
}
.pmb-posts .wp-block-gallery.columns-3 .blocks-gallery-item{
    width: 30%;
    height: 200px;
}

.pmb-posts .wp-block-gallery.columns-4 .blocks-gallery-item{
    width: 22.5%;
    height: 150px;
}

.pmb-posts .wp-block-gallery.columns-5 .blocks-gallery-item{
    width: 18%;
    height: 100px;
}

.pmb-posts .wp-block-gallery.columns-6 .blocks-gallery-item{
    width: 15%;
    height: 80px;
}

.pmb-posts .blocks-gallery-grid .blocks-gallery-item{
    display:inline-block;
    page-break-inside:avoid;
    vertical-align:top;
    overflow:hidden;
}
.pmb-posts .blocks-gallery-grid .blocks-gallery-item figure{
    display:block;
    page-break-inside:avoid;
}
.pmb-posts .blocks-gallery-grid .blocks-gallery-item img{
    margin-right: auto;
    margin-left: auto;
    height:100%;
    page-break-inside: avoid;
}