/* Make sure the print button is clearly a pressable button; some themes style it as a block and so the cursor
won't switch to a pointer when they hover over it; and it won't be centered anymore*/
.pmb-waiting-message-outer-container input[type=submit]{
    cursor:pointer;
    /* In case the theme made the input display:block, use margins to center it.*/
    margin-left:auto;
    margin-right:auto;
}

.pmb-small-instructions{
    line-height:1em;
    font-size:0.8em;
    color:gray;
}

.pmb-waiting-message-fullpage{
    color:black;
    z-index:1000;
    position: fixed;
    left: 50%;
    top:0;
    transform: translate(-50%, 32px);
    width:25em;
    max-width:96%;
}

.pmb-waiting-message-outer-container{
    background-color:white;
    box-shadow: 0.5em 1em darkgray;
    border:1px solid darkgray;
    padding-bottom: 1em;
}

.pmb-extra-content{
    text-align:center;
}

.pmb-posts-placeholder{
    /*position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -2em);
    */
}

.pmb-window-buttons{
    position:absolute;
    margin-top:5px;
    margin-left:5px;
}
.pmb-top-left{
    top:0;
    left:0;
}

.pmb-help{
    position:absolute;
    top:0;
    right:0;
    line-height:1em;
    font-size:0.8em;
    color:gray;
    margin-top:5px;
    margin-right:5px;
}
.pmb-help a{
    color:lightblue;
}
.pmb-help a:hover{
    color:blue;
}