.pmb-project-layout{
    margin-left:auto;
    margin-right:auto;
}

.pmb-project-layout .pmb-project-column{
    display:inline-block;
}
.pmb-scrollable-window{
    height:70vh;
    overflow-y:auto;
    border:1px solid gray;
}
.pmb-draggable-area{
    min-height:200px;
    padding-bottom:50px;
}

.pmb-grabbable{
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.pmb-grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.pmb-project-choices-column{
    max-width:500px;
}
.pmb-project-matters-wrapper{
    width:calc(100% - 550px);
}


.pmb-project-item{
    padding: 5px 0px 5px 10px;
    margin-bottom:-1px;
    border:1px solid #ddd;
    position:relative;
    display:block;
}
.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.list-group{
    margin-top:0px;
    margin-bottom:0px;
}

.pmb-comment{
    margin-left:1em;
}

.pmb-project-content-chosen .pmb-nested-sortable{
    /*border: 1px dotted gray;*/
    margin: .5em 0 .5em 2em;
}
.pmb-project-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pmb-project-item-title{
    flex-grow:1;
}
.pmb-project-item-type-container{
    flex-shrink:0;
}
.pmb-drag-here{
    text-align:center;
    float:bottom;
}
.pmb-project-choices-column .pmb-remove-item{
    display:none;
}
