.pmb-project-layout{
    margin-left:auto;
    margin-right:auto;
}

.pmb-project-layout .pmb-project-column{
    display:inline-block;
    vertical-align:top;
}
.pmb-scrollable-window{
    height:90vh;
    overflow-y:auto;
    border:1px solid gray;
}
.pmb-draggable-area{
    min-height:200px;
    padding-bottom:50px;
}

.pmb-grabbable{
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.pmb-grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.pmb-project-choices-filters .form-table th{
    width:100px;
}
.pmb-project-content-available{
    vertical-align:top;
}
/* wide screen, show filters as a separate column*/
@media (min-width:1700px){
    .pmb-project-column{
        margin-right:50px;
    }
    .pmb-project-choices-filters{
        display:inline-block;
        width:400px;
        /*background-color:lightgreen;*/
    }
    .pmb-project-content-available{
        display:inline-block;
        width:400px;
    }
    .pmb-project-matters-wrapper{
        display:inline-block;
        max-width:600px;
    }
    .pmb-scrollable-window{
        height:70vh;
        overflow-y:auto;
        border:1px solid gray;
    }
    .pmb-draggable-area{
        min-height:200px;
        padding-bottom:50px;
    }
}
/* show filters above post options but make it scrollable*/
@media (max-width:1699px) and (min-width:1101px){
    .pmb-project-column{
        margin-right:50px;
    }
    .pmb-project-choices-column{
        width:40%;
    }
    .pmb-project-choices-filters{
        display:inline-block;
        /*background-color:yellow;*/
    }
    .pmb-project-choices-filters .pmb-project-choices-filters-table-wrap{
        height:40vh;
        overflow-y:scroll;
    }
    .pmb-project-content-available{
        height:40vh;
    }
    .pmb-project-matters-wrapper{
        width:45%;
    }
}
/* stack everything*/
@media (max-width:1100px){
    .pmb-project-column{
        width:95%;
    }
    .pmb-project-choices-filters .pmb-project-choices-filters-table-wrap{
        height:200px;
        overflow-y:scroll;
    }
    .pmb-project-choices-filters{
        display:inline-block;
        /*background-color:pink;*/
        width:100%;
    }
    .pmb-project-content-available{
        display:block;
        height:30vh;
    }
    .pmb-project-matters-wrapper{
        display:block;
    }
}


.pmb-project-item{
    padding: 5px 0px 5px 10px;
    margin-bottom:-1px;
    border:1px solid #ddd;
    position:relative;
    display:block;
}
.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.list-group{
    margin-top:0px;
    margin-bottom:0px;
}

.pmb-comment{
    margin-left:1em;
}

.pmb-project-content-chosen .pmb-nested-sortable{
    /*border: 1px dotted gray;*/
    margin: .5em 0 .5em 2em;
}
.pmb-project-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pmb-project-item-title{
    flex-grow:1;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
    width:250px;
}
.pmb-project-item-title-text{

}
.pmb-project-item-type-container{
    flex-shrink:0;
}
.pmb-drag-here{
    text-align:center;
    float:bottom;
}
.pmb-project-choices-column .pmb-remove-item,.pmb-project-choices-column .pmb-project-item-template-container{
    display:none;
}
.pmb-project-matters .pmb-add-item{
    display:none;
}
.wp-core-ui .pmb-show-more div.load-more-button{
    display:block;
    text-align:center;
}
.pmb-no-results{
    padding:8px;
}
.pmb-project-choices-filters input[type=text]{
    width:90%;
}
.pmb-project-choices-filters select{
    width:90%;
}
.no-drag{
    padding:8px;
}
.pmb-button-spacer{
    margin:1vh;
}