.pmb-taxonomies-select{
    min-width:20em;
    width:20em;
}

.select2-container--open{
    z-index:10;
}

.pmb-format-option{
    margin-bottom:1em;
}

table.form-table th p.description{
    font-weight:initial;
}