.pmb-spinner-container {
    display:inline-block;
}
.pmb-taxonomies-select{
    min-width:20em;
    width:20em;
}
details.pmb-details{
    margin:1em;
}
summary.pmb-reveal-options{
    cursor:pointer;
}