.pmb-welcome h1{
    font-size:3em;
    text-align:center;
    margin-top:4em;
    margin-bottom:1em;
    display: block !important;
}
.pmb-pro-highlight{
    background-color: lightgoldenrodyellow;
}
.pmb-center{
    text-align:center;
}