/* pagination */
@media print, screen {
    .pmb-front-matter {
        display: block;
        page: front-matter;
        counter-reset: page 1
    }

    @page front-matter:verso {
        @bottom-left {
            content: counter(page, lower-roman)
        }
    }
    @page front-matter:recto {
        @bottom-right {
            content: counter(page, lower-roman, first-except)
        }
    }


    @page main-matter {
        counter-reset: footnote;

        @footnotes {
            border-top: solid black thin;
            padding-top: 8pt;
        }
    }


    .pmb-front-matter {
        page:back-matter;
    }
    .pmb-posts p {
        prince-footnote-policy: keep-with-line;
    }


    .pmb-main-matter {
        display: block;
        page: main-matter;
        counter-reset: page 1
    }

    @page main-matter:verso, @page back-matter:verso {
        @top-middle {
             content: string(part-title, first-except);
         }
        @bottom-left {
            content: counter(page)
        }
    }

    @page main-matter:recto, @page back-matter:recto {
        @top-middle {
            content: string(section-title, first-except)
        }
        @bottom-right {
            content: counter(page)
        }
    }


    body{
        background-color:white;
        color:black;
    }

    /* Title Page styles */
    .pmb-posts-header{
        margin-top:2in;
        text-align:center;
    }
    .pmb-posts-header .site-title{
        font-size:5em;
    }
    .site-description{
        width:50%;
        margin-left:auto;
        margin-right:auto;
    }
    .pmb-url{
        font-style:italic;
        color:darkgray;
        text-align:center;
    }


    /* toc */
    .pmb-toc-list li{
        list-style:none;
    }
    .pmb-toc-item.pmb-toc-depth-2{
        margin-left:1em;
    }
    .pmb-toc-list a::after {
        content: leader('.') target-counter(attr(href), page) !important;
    }

    /* part styling*/
    .pmb-part h1.pmb-title{
        font-size:300%;
        string-set: part-title content();
        margin-top:2in;
    }
    .pmb-part .entry-content{
        margin-top:2in;
        width:50%;
        margin-right:auto;
        margin-left:auto;
    }

    /* Article styles */
    .pmb-section h1.pmb-title {
        string-set: section-title content();
    }

    .pmb-section-wrapper:not(.pmb-first-section-wrapper){
        break-before:page;
    }


    .pmb-posts a.pmb-page-ref[href]::after{
        content: " (see page " target-counter(attr(href), page) ")";
    }
    .pmb-posts span.pmb-footnote{
        float:footnote;
        text-align:left;
    }
    .excerpt{
        width:80%;
        margin-left:auto;
        margin-right:auto;
        size:1.5em;
        font-style:italic;
    }
}