/* pagination */
@media print, screen {
    .pmb-front-matter {
        display: block;
        page: front-matter;
        counter-reset: page 1
    }

    @page front-matter:first{
        @bottom-right{
            content: '';
        }
    }

    @page front-matter {
        @bottom-right {
            content: counter(page, lower-roman)
        }
    }


    @page main-matter{
        counter-reset: footnote;

        @footnotes {
            border-top: solid black thin;
            padding-top: 8pt;
        }
}
    body{
        prince-footnote-policy: keep-with-line;
    }


    .pmb-main-matter {
        display: block;
        page: main-matter;
    }

    @page main-matter {
        @top-left {
            content: string(part-title, first-except);
        }
        @top-right {
            content: string(article-title, first-except)
        }
        @bottom-right {
            content: counter(page)
        }
    }

    .pmb-back-matter {
        display: block;
        page: back;
    }
    @page back-matter {
        @top-left {
            content: normal;
        }
        @top-right {
            content: normal;
        }
        @bottom-right {
            content: counter(page)
        }
    }

    /* Title Page styles */
    .pmb-posts-header{
        margin-top:2in;
        text-align:center;
    }
    .pmb-posts-header .site-title{
        font-size:5em;
    }
    .site-description{
        width:50%;
        margin-left:auto;
        margin-right:auto;
    }
    .pmb-url{
        font-style:italic;
        color:darkgray;
        text-align:center;
    }


    /* toc */
    .pmb-toc-list li{
        list-style:none;
    }
    .pmb-toc-item.pmb-toc-height-1{
        font-weight: bold;
        font-size: 1.2em;
        margin-top: 10px;
    }
    .pmb-toc-item.pmb-toc-depth-1{
        margin-left:1em;
    }
    .pmb-toc-list .pmb-toc-item.pmb-toc-front a::after {
        content: leader('.') target-counter(attr(href), page, lower-roman) !important;
    }
    .pmb-toc-list .pmb-toc-item:not(.pmb-toc-front) a::after {
        content: leader('.') target-counter(attr(href), page) !important;
    }

    /* part styling*/
    .pmb-part h1.pmb-title{
        font-size:5em;
        string-set: part-title content();
        margin-top:2in;
    }
    .pmb-part .entry-content{
        margin-top:1in;
    }

    /* Article styles */
    .pmb-article h1.pmb-title {
        string-set: article-title content();
    }

    .pmb-section-wrapper:not(.pmb-first-section-wrapper){
        break-before:page;
    }


    a.pmb-page-ref[href]::after{
        content: " (see page " target-counter(attr(href), page) ")";
    }
    span.pmb-footnote{
        float:footnote;
        text-align:left;
        font-weight:normal;
    }
    span.pmb-footnote a{
        color:blue;
    }

    .entry-meta{
        margin-bottom:1em;
    }
    .excerpt{
        width:80%;
        margin-left:auto;
        margin-right:auto;
        size:1.5em;
        font-style:italic;
    }
    img, div.wp-caption{
        max-width:100%;
    }
}